@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilos personalizados globales si fueran necesarios */
body {
    background-color: #f3f4f6;
    /* Un gris muy suave de fondo */
    color: #1f2937;
    /* Texto gris oscuro para mejor lectura */
}